{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "node": true
  },
  "globals": {
    "Promise": true
  },
  "plugins": [],
  "extends": [
    "@fiverr/eslint-config-fiverr/rules/base",
    "@fiverr/eslint-config-fiverr/rules/es6"
  ],
  "rules": {},
  "overrides": [
    {
      "files": [ "spec*", "**/spec*" ],
      "env": {
        "mocha": true
      },
      "globals": {},
      "rules": {
        "no-empty-function": 0
      }
    }
  ]
}
